<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat</title>
</head>
<body>
<br><br><br><br>

        <div class="jumbotron">
            <h1 class="display-4" style="text-align:center">Grovy Work Cat for the Groom</h1><br>

            <div class="mx-auto" style="width:645px;">
                    <div class="form row"><br><br>
                        <img src="~/img/catintervention.gif" class="Center" style="margin:0px 0px 0px 100px" alt="CatIntervention"/>
                    </div>
            </div>

</body>
</html>