<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pup</title>
</head>
<body>
<br><br><br><br>

        <div class="jumbotron">
            <h1 class="display-4" style="text-align:center">Welcome to Pup Delivery</h1><br>
                <div class="text-center">
                    <img src="~/img/pupgiphy.gif"  alt="pup"/>
                </div>
            
        </div>
            <a class="btn btn-success btn-lg btn-block success" style="text-align:center;" asp-controller="Home" asp-action="Cat" role="button">Or ...something more grovy for the groom?</a>
</body>
</html>
